@import url('https://fonts.googleapis.com/css2? familia=Trabajo+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #abd1c6;
    font-family: 'Work Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background: linear-gradient(#00312fa2,#00312f);
    margin-bottom: 5px;
    align-items: center;
}
header img{
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px;
    cursor: pointer; 
    border-radius: 50px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    cursor:pointer;
}
header img:hover{
    -webkit-box-shadow: 3px 3px 3px 3px #abd1c6;
    box-shadow: 3px 3px 3px 3px #abd1c6;
}
header nav{
    line-height: 90px;
}
header nav a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover{
    background: #f9bc60;
    color: #001e1d;
    border-radius: 50px;
}

.contenedor{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.jumbotron, .adicionales{
    background-color: #abd1c6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.seccion{
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-color: #00312f;
    border-style: solid;
    border-width: 5px;
}

.j_sec{
    background-color: rgba(255, 255, 255, 0);
    padding:3px;
    margin: 3px;
}
.jum_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.contenedor .jumbotron .texto h2{
    color: #001e1d;
    margin-bottom: 25px;
    font-size: 30px;
    text-shadow: 1px 1px 2px #004643;
    text-align: center;
    text-decoration: underline;
}
.contenedor .jumbotron .texto p{
    color: #0f3433;
    margin-bottom: 10px;
}
.contenedor .adicionales .texto h2{
    color: #001e1d;
    margin-bottom: 25px;
    font-size: 30px;
    text-shadow: 1px 1px 2px #004643;
    text-align: center;
    text-decoration: underline;
}
.contenedor .adicionales .texto p{
    color: #0f3433;
    margin-bottom: 10px;
}
.blog{
    background-color: #004643;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.galeria{
    margin: 3px;
    padding: 3px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.item_de_Galeria{
    position: relative;
}
.titulo_Galeria{
    position: absolute;
    bottom: 0;
    color: rgba(221, 221, 221, 0.76);
    background: linear-gradient(rgba(51, 221, 88, 0.041),#004643);
    width: 100%;
    margin: 0;
    padding: 10px;
}
.footer{
    background-color: #004643;
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-color: #00312f;
    border-style: solid;
    border-width: 5px;
}
.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grupo-1 .box figure img{
    width: 250px;
}
.footer .grupo-1 .box h2{
    color: rgb(160, 182, 163);
    margin-bottom: 25px;
    font-size: 20px;
    text-shadow: 1.5px 1.5px 2px #004643;
}
.footer .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .grupo-1 .red_social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #004643;
    margin-right: 10px;
    background-color: #abd1c6;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50px;

}
.footer .grupo-1 .red_social a:hover{
    color:#e16162   ;
}
.footer .grupo-1 .box h5{
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
}
.footer .grupo-1 .box input{
    font-family: 'Work Sans', sans-serif;
    background-color: #003330;
    border: 1px solid #abd1c6;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    padding: 10px 11px;
    width: 100%;
}
.footer .grupo-1 .box input:hover{
    background-color: #00333093;
}
.footer .grupo-2{
    background-color: #003330;
    padding: 15px 10px;
    text-align: center;
    color: rgb(250, 250, 250);
}
.footer .grupo-2 small{
    font-size: 15px;
}














@media screen and (max-width: 930px){
    header{
        justify-content: center;
        flex-direction: column;
    }

    .seccion{
        padding: 25px 5px 5px 5px;
        flex-wrap: wrap;
        height: auto;
    } 
    .jumbotron {
        grid-template-columns: repeat(1, 1fr);
    }
    .adicionales{
        grid-template-columns: repeat(1, 1fr);
    }
    .jum_img{
        height: cover;
    }
    
}
@media screen and (max-width: 838px){
    .footer .grupo-1{
        width:90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
@media screen and (max-width: 700px){
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .galeria{
        height: cover;
    }
    .titulo_Galeria{
        bottom: 0;
    }
}