*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 177, 0, 0.281);
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow:hidden;
    background: linear-gradient(rgba(1, 255, 65, 0.938),rgb(4, 36, 1));
    margin-bottom: 5px;
}
header img{
    float:left;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px;
}
header nav{
    float:right;
    line-height: 90px;
}
header nav a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover{
    background: #46e2537a;
    border-radius: 50px;
}

.warpper{
    width: 100%;
    max-width: 1000px;
    margin:auto;
    overflow:hidden;
}
.contenedor{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion{
    background-color: rgba(28, 124, 52, 0.281);
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: auto;
}

.jumbotron {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.j_sec{
    background-color: rgba(28, 124, 41, 0.281);
    padding:3px;
    margin: 3px;
}
.jum_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.adicionales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.galeria{
    margin: 3px;
    padding: 3px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.item_de_Galeria{
    position: relative;
}
.titulo_Galeria{
    position: absolute;
    bottom: 0;
    color: rgba(221, 221, 221, 0.76);
    background: linear-gradient(rgba(51, 221, 88, 0.041),rgb(0, 53, 4));
    width: 100%;
    margin: 0;
    padding: 10px;
}










@media screen and (max-width: 930px){
    header{
        width:100%;
        line-height:100px;
    }
    .seccion{
        padding: 25px 5px 5px 5px;
        flex-wrap: wrap;
        height: auto;
    } 
    .jumbotron {
        grid-template-columns: repeat(1, 1fr);
    }
    .adicionales{
        grid-template-columns: repeat(1, 1fr);
    }
    .jum_img{
        height: cover;
    }
    
}

@media screen and (max-width: 700px){
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .galeria{
        height: 80%;
    }
    .titulo_Galeria{
        bottom: 91px;
    }
}