*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow:hidden;
    background: #0c3101;
    margin-bottom: 5px;
}
header img{
    float:left;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px;
}
header nav{
    float:right;
    line-height: 90px;
}
header nav a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover{
    background: #165a1c7a;
    border-radius: 50px;
}
.header2{
    position: fixed;
    height: 100px;
}
.header2 img{
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px;
}
.header2 nav{
    line-height:100px
}
@media screen and (max-width: 950px){
    header{
        width:100%;
        line-height:100px;
    }
    .header2{
        height:auto;
    }
    .header2 .logo, .header2 nav{
        line-height: 50px;
    }
    .contenedor{
        padding-top: 200px;
    } 
    .seccion{
        padding: 25px 5px 5px 5px;
        flex-wrap: wrap;
        height: 800px;
    } 
    .j_sec{
        flex: 100%;
        height: 400px;
    }
}
.warpper{
    width: 100%;
    max-width: 1000px;
    margin:auto;
    overflow:hidden;
}

.contenedor{
    display: flex;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 177, 0, 0.281);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion{
    background-color: rgba(28, 124, 52, 0.281);
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.j_sec{
    background-color: rgba(28, 124, 41, 0.281);
    padding:3px;
    margin: 3px;
    flex: 50%;
    height: 400px;
}
.galeria{
    width: 33%;
    height: 350px;
    border-radius: 10px;
}

.blog{
    display: flex;
    padding:5px;
    flex-wrap: wrap;
    
}
.imagen_blo{
    flex: 20%;
    padding: 5px;
    
}
.imagen_blo .galeria{
    margin-top: 5px;
}
